nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: $color-1;
  z-index: 2;
  opacity: 0;
  transition: all 50ms linear;
  transition-delay: 600ms;
  pointer-events: none;
  @include generateAnimation(show-content, 400ms);

  &::before {
    position: absolute;
    top: 50%;
    right: -5rem;
    margin-top: -5rem;
    display: block;
    width: 10rem;
    height: 10rem;
    opacity: 0;
    transform: scale(0, 0);
    transform-origin: center center;
    content: '';
    background: #293A50;
    border-radius: 50%;
    transition: all 300ms linear;
    transition-delay: 300ms;
  }

  &::after {
    position: absolute;
    top: -10rem;
    left: calc(100% - 15rem);
    opacity: 0;
    content: 'MENU';
    background: #293A50;
    font-weight: bold;
    font-size: 30rem;
    transform: rotateZ(90deg);
    transform-origin: top left;
    transition: opacity 300ms linear;
    transition-delay: 0ms;
  }

  ul {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    align-content: space-between;
    width: 47rem;
    height: 47rem;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    z-index: 3;
    opacity: 0;
    transition: all 300ms linear;
    transition-delay: 0ms;
  }

  li {
    a {
      display: flex;
      flex-direction: column;
      width: 22rem;
      height: 22rem;
      padding: 3.3rem 1rem 1rem;
      background: $color-2;
      color: #FFF;
      font-size: 3rem;
      font-weight: bold;
      outline: none;
      text-align: center;

      svg {
        margin: 0 auto 3rem;
        font-size: 10rem !important;
      }

      &:hover,
      &:active,
      &:visited {
        color: #FFF;
      }
    }

    &:nth-child(2) a,
    &:nth-child(3) a {
      background: $color-4;
    }
  }

  &.active {
    pointer-events: all;
    opacity: 1;
    transition-delay: 0ms;

    &::before {
      opacity: 1;
      transform: scale(26, 26);
      transition-delay: 50ms;
    }

    &::after {
      opacity: 0.03;
      transition-delay: 350ms;
    }

    ul {
      opacity: 1;
      transition-delay: 350ms;
    }
  }
}