.social-container {
  position: absolute;
  overflow: hidden;
  bottom: 0;

  &-list {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    list-style: none;
    padding: 0 2rem 0 0;
    margin: 0;

    &:after {
      position: absolute;
      bottom: 7.9rem;
      right: 1.8rem;
      width: 9.9rem;
      line-height: 2rem;
      border-top: 1px solid $color-2;
      font-size: 1.2rem;
      color: $color-2;
      content: attr(title);
      text-align: right;
      transform-origin: top right;
      transform: rotateZ(-90deg);
    }
  }

  &-items.spaces {
    margin: 0 0.5rem;
  }

  &-items {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10rem;
    background-color: $color-2;
    transition: height .2s ease-out;
  
    &:nth-child(2) {
      background-color: $color-4;
    }

    &:last-of-type {
      margin: 0 0.5rem 0 0;
    }

    &:hover {
      height: 11rem;
      color: $color-3;
    }
  }
  
  &-link {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 10rem;
    font-size: 1.6rem;
    text-align: center;
    color: $color-3 !important;
    cursor: pointer;

    svg {
      font-size: 4.5rem;
    }

    &:hover {
      color: $color-3;
    }
  }
}