@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

html, body, h1, h2, h3, h4, h5, h6,
section, header, div, span, button, a, img, input, textarea {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

a, a:hover, a:active, a:visited {
  color: $color-2;
  text-decoration: none;
  transition: opacity 150ms linear;
  opacity: 1;
}

a.hover-effect:hover {
  opacity: 0.8;
}

html {
  font-size: 10px;
  @media only screen and (max-width: 1130px) {
    font-size: 7px;
  }

  @media only screen and (max-width: 840px) {
    font-size: 6px;
  }

  @media only screen and (max-width: 740px) {
    font-size: 7px;
  }
}

body {
  position: relative;
  height: 100vh;
  color: $color-3;
  font-size: 2.8rem;
  line-height: 2.8rem;
  background: $color-1;
  font-family: $base-font;
  font-weight: 400;
}

.btn {
  display: inline-block;
  background: none;
  color: $color-3;
  border: 0.4rem solid $color-2;
  border-radius: 4rem;
  min-height: 5rem;
  min-width: 18rem;
  line-height: 5rem;
  text-align: center;
  font-size: 2.2rem;
  cursor: pointer;
  outline: none;
  transition: 300ms linear all;

  &:hover {
    background: $color-2;
    color: $color-3;
  }

  &.filled {
    background: $color-2;
    color: $color-3;
  }

  &.filled:hover {
    background: none;
    color: $color-2;
  }
}

.mx-auto {
  margin: 0 auto;
}