// body {

//   @media (min-width: 576px) { }

//   // Medium devices (tablets, 768px and up)
//   @media (min-width: 768px) {
//     font-size: 2rem;
//     line-height: 2rem;

//     .text-wrapper h1 {
//       font-size: 7rem;
//       line-height: 7rem;
//     }

//     .home-content-wrapper:before {
//       display: none;
//     }

//     .image-wrapper {
//       align-self: center;
//       img {
//         max-width: 40rem;
//       }
//     }
//   }

//   // Large devices (desktops, 992px and up)
//   @media (min-width: 992px) {
//     font-size: 2.2rem;
//     line-height: 2.2rem;

//     .text-wrapper h1 {
//       font-size: 8rem;
//       line-height: 8rem;
//     }

//     .home-content-wrapper:before {
//       display: block;
//       left: -11rem;
//       opacity: 0.2;
//     }

//     .image-wrapper img {
//       max-width: 40rem;
//     }
//   }

//   // Extra large devices (large desktops, 1200px and up)
//   @media (min-width: 1200px) {
//     font-size: 2.4rem;
//     line-height: 2.4rem;

//     .text-wrapper h1 {
//       font-size: 10rem;
//       line-height: 10rem;
//     }

//     .home-content-wrapper:before {
//       left: -9.5rem;
//       opacity: 0.6;
//     }

//     .image-wrapper {
//       align-self: flex-end;
//       img {
//         max-width: 100%;
//       }
//     }
//   }

//   // Extra large devices (large desktops, 1200px and up)
//   @media (min-width: 1400px) {
//     font-size: 2.8rem;
//     line-height: 2.8rem;

//     .text-wrapper h1 {
//       font-size: 12rem;
//       line-height: 12rem;
//     }

//     .home-content-wrapper:before {
//       left: -7.5rem;
//     }
//   }
// }
