.contact-me {
  section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 12rem 0 12rem;
    width: 65rem;
    @media only screen and (max-width: 730px) {
      width: 100%;
      padding-left: 10rem;
      padding-right: 10rem;
    }
    @media only screen and (max-width: 400px) {
      padding-left: 3rem;
      padding-right: 3rem;
    }
    height: 100vh;
    margin: 0 auto;
    opacity: 0;
    z-index: 2;
    @include generateAnimation(show-content, 400ms, linear, forwards);

    h2 {
      text-align: center;
      font-size: 5.5rem;
      line-height: 5.5rem;
      margin: 0 0 2rem;
      padding: 0;
    }

    p {
      font-size: 1.8rem;
      margin: 0 0 3rem;
      padding: 0;
      opacity: 0.7;
    }

    form {
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    .field-wrapper {
      margin-bottom: 1.5rem;
    }

    input,
    textarea {
      width: 100%;
      height: 4.5rem;
      padding: 0.5rem 1.5rem;
      border-radius: 2rem;
      background: $color-3;
      border: none;
      outline: none;
      font-size: 1.8rem;
      color: $color-1;
    }

    label {
      padding-left: 3rem;
      margin-bottom: 1rem;
      font-size: 1.8rem;
      font-weight: bold;
      color: $color-2;
    }

    textarea {
      height: 10rem;
      resize: none;
      padding: 1rem 1.5rem;
    }

    .error-label {
      padding: 0 2rem;
      color: #ff695a;
      font-weight: 400;
      font-size: 1.4rem;
      svg { padding-right: 1rem; vertical-align: middle; }
    }

    .btn {
      height: 4.5rem;
      line-height: 3.9rem;
      min-height: 4.5rem;
      font-size: 1.8rem;
      border-width: 0.3rem;
    }
  }

  &:before {
    position: fixed;
    bottom: 0;
    right: 0;
    display: block;
    content: 'contacts';
    color: $color-3;
    font-weight: bold;
    font-size: 70rem;
    line-height: 60rem;
    opacity: 0.02;
    z-index: 1;
    white-space: nowrap;
  }

  .social-container {
    margin: 0 auto;
  }
}