.gallery {
  section {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 12rem 0 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    z-index: 1;
    @include generateAnimation(show-content, 400ms, linear, forwards);

    .content-wrapper {
      position: absolute;
      top: 0;
      right: 0;
      width: 33%;
      height: 100vh;
      padding: 18rem 5rem 14rem 0;
      display: flex;
      flex-direction: column;
      justify-content: center;

      p {
        margin: 0;
        padding: 0 1rem 0 2rem;
        font-size: 1.8rem;
        opacity: .7;
      }

      .social-container {
        width: 100%;
        ul {
          li {
            width: 33.33%;

            a {
              pointer-events: none;
              width: 100%;
              font-size: 1.8rem;
            }
          }
          &:after { display: none; }
        }
      }
    }

    h3 {
      margin: 0 0 6rem -8rem;
      padding: 0;
      font-size: 6rem;
      align-self: flex-start;
    }

    .project-image {
      display: inline-block;
      position: absolute;
      top: 15rem;
      right: 33%;
      width: 80%;
      border-radius: 2.5rem;
    }

    .gallery-menu {
      position: fixed;
      top: 45%;
      right: 0;
      padding: 0 1.5rem 7.4rem;
      border-left: 0.1rem solid $color-2;
      z-index: 2;

      ul {
        margin: 0;
        padding: 1rem 0 0;
        list-style: none;

        &:before {
          position: absolute;
          bottom: 4.2rem;
          left: 3.7rem;
          display: block;
          content: 'projects';
          color: $color-2;
          font-size: 1.6rem;
          opacity: .7;
          transform-origin: top left;
          transform: rotateZ(90deg);
        }

        li {
          line-height: 1.4rem;
          margin: 0 0 1rem;

          a {
            display: inline-block;
            width: 1.4rem;
            height: 1.4rem;
            border-radius: 50%;
            border: 0.2rem solid $color-2;
            background: rgba($color-2, 1);
            transition: opacity 300ms linear;
          }

          &.active a {
            background: rgba($color-2, 0);
          }
        }
      }
    }
  }
  
  &:before {
    position: fixed;
    bottom: 0;
    right: 0;
    display: block;
    content: attr(data-title);
    color: $color-3;
    font-weight: bold;
    font-size: 50rem;
    line-height: 40rem;
    opacity: 0.02;
    z-index: 1;
    white-space: nowrap;
  }
}