.home {
  section {
    position: absolute;
    top: 0;
    left: 5%;
    display: flex;
    align-items: center;
    padding: 12rem 0 0;
    width: 90%;
    height: 100vh;
    opacity: 0;
    @include generateAnimation(show-content, 400ms, linear, forwards);

    &:before {
      position: absolute;
      top: 50%;
      left: -5%;
      display: block;
      width: 62.8rem;
      height: 59.6rem;
      margin-top: -26rem;
      content: '';
      opacity: 0.4;
      background-image: url('./static/images/background-focus.png') ;
    }

    .content-wrapper {
      width: 50%;
      padding-bottom: 12rem;
      max-width: 50rem;
      z-index: 2;

      .introduction,
      .info {
        margin: 0;
        padding: 0;
        color: $color-3;
        font-size: 2rem;
      }
      
      h1 {
        margin: 0 0 1.5rem;
        padding: 0;
        color: $color-2;
        font-size: 8rem;
        line-height: 8rem;
      }

      .info {
        margin: 0 0 3rem;
        line-height: 2.6rem;
      }

      .filled {
        margin-right: 2.5rem;
      }
    }

    .image-wrapper {
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      height: 100vh;
      padding-top: 8rem;
      overflow: hidden;
      text-align: center;

      img {
        width: auto;
        height: 100%;
      }
    }
  }
}